<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dev.minions.daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PREFIX__/bin/minions</string>
    <string>daemon</string>
    <string>--home</string>
    <string>/Users/__USER__/.local/share/minions</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/minions-daemon.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/minions-daemon.err.log</string>
</dict>
</plist>
